* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    background-color: rgb(8, 135, 170);
    height: 16vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 8%;
    height: 14vh;
    margin: 1%;
    margin-top: 0.42%;
    margin-left: 5%;
}

.navegacion {
    width: 49%;
    display: flex;
    justify-content: space-between;
    margin-left: 10.5%;
    flex-wrap: wrap;

}

.item {
    margin: 2%;
    list-style-type: none;
    font-size: 150%;
    color: rgb(232, 232, 221);
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.imagen {
    width: 100%;
    height: 100%;
    border-radius: 9px;

}

.logos {
    width: 7%;
    margin-left: 10.5%;
    display: flex;
    justify-content: space-between;
}

.logo-facebook {
    width: 42%;
}

.logo-instagram {
    width: 42%;
}




.marca {
    background-image: url(../imagenes/celulares.jpg);
    height: 79vh;
    display: flex;

}

.nuestra-marca {
    background-color: black;
    width: 100%;
    height: 44vh;
    margin: auto;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.titulo {
    color: rgb(220, 220, 221);
    font-size: 200%;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -2%;
}

.frase {
    color: rgb(220, 220, 221);
    font-size: 170%;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2%;
}

.sobre-nosotros {
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    height: 89vh;

}

.titulo-nosotros {
    font-size: 290%;
    font-family: "Freeman", sans-serif;
    text-align: center;
    padding: 2%;
    color: rgb(60, 65, 69);
}

.descripcion-nosotros {
    font-size: 140%;
    font-family: "Freeman", sans-serif;
    padding: 2%;
    color: rgb(60, 70, 78);
    width: 50%;
    margin-left: 2%;
    margin-top: -2%;
}

.descripcion-completa {
    display: flex;
}

.imagen-celulares {
    width: 30%;
    height: 50vh;
    margin-left: 12%;
    margin-top: 4%;
    border-radius: 20px;
}

.productos {
    height: 120vh;
    background-image: url(../imagenes/fondo.jpg);
    background-position: left;
}

.titulo-productos {
    font-size: 290%;
    font-family: "Freeman", sans-serif;
    text-align: center;
    padding: 2%;
    color: rgb(60, 65, 69);
}

.subtitulo-productos {
    font-size: 200%;
    color: rgb(95, 100, 106);
    font-family: "Freeman", sans-serif;
    text-align: center;
}





.destacados {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    height: 50vh;
}

.primer-producto-destacado {
    width: 25%;
    height: 74vh;
    background-color: rgb(200, 219, 219);
    border-radius: 20px;

}

.segundo-producto-destacado {
    width: 25%;
    height: 74vh;
    background-color: rgb(200, 219, 219);
    border-radius: 20px;
}

.tercer-producto-destacado {
    width: 25%;
    height: 74vh;
    background-color: rgb(200, 219, 219);
    border-radius: 20px;
}

.iphone-doce {
    width: 100%;
    height: 58vh;
    border-radius: 49px;
    padding: 9%;
}

.samsung {
    width: 100%;
    height: 58vh;
    border-radius: 49px;
    padding: 9%;
}

.titulo-des {
    font-size: 160%;
    text-align: center;
    margin-top: 2%;
    font-family: "Freeman", sans-serif;
    color: rgb(78, 84, 91);
}

.precio-des {
    font-size: 160%;
    text-align: center;
    margin-top: 2%;
    font-family: "Freeman", sans-serif;
    color: rgb(78, 84, 91);
}




.footer-content ul li{
    list-style-type: none;
    text-decoration:none !important;
}




 footer {
    background-color: rgb(8, 135, 170);
    width: 100%; 
    box-sizing: border-box; 
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 15px;
}

.pie-pagina {
    background-color: rgb(8, 135, 170);
}

.pie-pagina .grupo-1 {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 1rem 0;
    color: white;
}

.pie-pagina .grupo-1 .mapa {
    width: 300px;
}

.pie-pagina .grupo-1 h2 {
    font-family: "Freeman", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

.pie-pagina .grupo-1 p {
    font-family: "Freeman", sans-serif;
    margin-bottom: .5rem;
    text-align: center;
}

.pie-pagina .grupo-1 h4 {
    font-family: "Freeman", sans-serif;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.redes-social {
    margin-top: .5rem;
}

.pie-pagina .grupo-1 .link-footer {
    display: block;
    padding-block: .5rem;
    text-align: right;
    transition: .5s ease;
}

.pie-pagina .grupo-1 .redes-social {
    text-align: right;
    font-size: 1.5rem;
}

.pie-pagina .grupo-1 .redes-social a {
    margin-top: .5rem;
    padding-inline: .5rem;
    transition: .5s ease;
}


.nombre-footer {
    font-family: "Freeman", sans-serif;
}

.grupo-1 {
    width: 90%;
}

.grupo-2 {
    padding-block: .5rem;
}




