* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
}
.header {
    width: 100%;
    background-color: rgb(8, 135, 170);
    height: 16vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 8%;
    height: 14vh;
    margin: 1%;
    margin-top: 0.42%;
    margin-left: 5%;
}

.navegacion {
    width: 49%;
    display: flex;
    justify-content: space-between;
    margin-left: 10.5%;
    flex-wrap: wrap;

}

.item {
    margin: 2%;
    list-style-type: none;
    font-size: 150%;
    color: rgb(232, 232, 221);
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.4s;
}

.item:hover{
    scale: 1.2;
}

.imagen {
    width: 100%;
    height: 100%;
    border-radius: 9px;

}

.logos {
    width: 7%;
    margin-left: 10.5%;
    display: flex;
    justify-content: space-between;
}

.logo-facebook {
    width: 72%;
}

.logo-instagram {
    width: 72%;
}

.imagen-menu{
    display: none;
}

.marca{
    background-image: url(../imagenes/celulares-fondo.jpg);
    height: 79vh;
    display: flex;

}

.nuestra-marca {
    background-color: black;
    width: 100%;
    height: 44vh;
    margin: auto;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.home{
    text-decoration: none;
    color: rgb(232, 232, 221);
    font-family: "Freeman", sans-serif;
    font-weight: 400;
}
.nosotros{
    text-decoration: none;
    color: rgb(232, 232, 221);
    font-family: "Freeman", sans-serif;
    font-weight: 400;
}
.menu-barra{
    display: none;
}
.fondo{
    display: none;
}
.nav-productos{
    text-decoration: none;
    color: rgb(232, 232, 221);
    font-family: "Freeman", sans-serif;
    font-weight: 400;
}
.nav-contacto{
    text-decoration: none;
    color: rgb(232, 232, 221);
    font-family: "Freeman", sans-serif;
    font-weight: 400;
}
.titulo {
    color: rgb(220, 220, 221);
    font-size: 200%;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -2%;
}

.frase {
    color: rgb(220, 220, 221);
    font-size: 170%;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2%;
}

.sobre-nosotros {
    background-image: url(../imagenes/fondo.jpeg);
    background-size: cover;
    height: 89vh;

}

.titulo-nosotros {
    font-size: 290%;
    font-family: "Freeman", sans-serif;
    text-align: center;
    padding: 2%;
    color: rgb(60, 65, 69);
}

.descripcion-nosotros {
    font-size: 140%;
    font-family: "Freeman", sans-serif;
    padding: 2%;
    color: rgb(60, 70, 78);
    width: 50%;
    margin-left: 2%;
    margin-top: -2%;
}

.descripcion-completa {
    display: flex;
}

.imagen-celulares {
    width: 30%;
    height: 50vh;
    margin-left: 12%;
    margin-top: 4%;
    border-radius: 20px;
}

.productos {
    height: 120vh;
    background-image: url(../imagenes/fondo.jpeg);
    background-position: left;
}

.titulo-productos {
    font-size: 290%;
    font-family: "Freeman", sans-serif;
    text-align: center;
    padding: 2%;
    color: rgb(60, 65, 69);
}

.subtitulo-productos {
    font-size: 200%;
    color: rgb(95, 100, 106);
    font-family: "Freeman", sans-serif;
    text-align: center;
}





.destacados {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    height: 50vh;
}

.primer-producto-destacado {
    width: 25%;
    height: 74vh;
    background-color: rgb(200, 219, 219);
    border-radius: 20px;
}

.primer-producto-destacado:hover{
    scale: 1.02;
}

.segundo-producto-destacado {
    width: 25%;
    height: 74vh;
    background-color: rgb(200, 219, 219);
    border-radius: 20px;
}

.segundo-producto-destacado:hover{
    scale: 1.02;
}

.tercer-producto-destacado{
    width: 25%;
    height: 74vh;
    background-color: rgb(200, 219, 219);
    border-radius: 20px;
}

.tercer-producto-destacado:hover{
    scale: 1.02;
}

.iphone-doce {
    width: 100%;
    height: 58vh;
    border-radius: 49px;
    padding: 9%;
}

.samsung {
    width: 100%;
    height: 58vh;
    border-radius: 49px;
    padding: 9%;
}

.titulo-des {
    font-size: 160%;
    text-align: center;
    margin-top: 2%;
    font-family: "Freeman", sans-serif;
    color: rgb(78, 84, 91);
}

.precio-des {
    font-size: 160%;
    text-align: center;
    margin-top: 2%;
    font-family: "Freeman", sans-serif;
    color: rgb(78, 84, 91);
}


.contacto{
    background-image: url(../imagenes/fondo.jpeg);
    height: 149vh;
    
}

.titulo-contacto{
    font-size: 290%;
    font-family: "Freeman", sans-serif;
    text-align: center;
    padding: 2%;
    color: rgb(91, 97, 103);
}

.subtitulo-contacto{
    font-size: 200%;
    color: rgb(112, 119, 126);
    font-family: "Freeman", sans-serif;
    text-align: center;
}

.formulario{
    width: 50%;
    height: 112vh;
    margin-top: 2%;
    background-color: rgb(209, 222, 222);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1%;
    margin-left: 25%;
    border-radius: 10px;
    flex-direction: column;
}

.label-nombre{
    font-size: 129%;
    color: rgb(112, 119, 126);
    font-family: "Freeman", sans-serif;
    text-align: center;
    
}

.label-email{
    font-size: 129%;
    color: rgb(112, 119, 126);
    font-family: "Freeman", sans-serif;
    text-align: center;
    width: 100%;
}

.label-telefono{
    font-size: 129%;
    color: rgb(112, 119, 126);
    font-family: "Freeman", sans-serif;
    text-align: center;
    
}

.label-mensaje{
    font-size: 129%;
    color: rgb(112, 119, 126);
    font-family: "Freeman", sans-serif;
    text-align: center;
    
}

.label-imagen{
    font-size: 129%;
    color: rgb(112, 119, 126);
    font-family: "Freeman", sans-serif;
    text-align: center;
    margin-top: 4%;
}

.label-checkbox{
    font-size: 110%;
    color: rgb(112, 119, 126);
    font-family: "Freeman", sans-serif;
    text-align: center;
    margin-top: 0%;
}

.label-select{
    font-size: 110%;
    color: rgb(112, 119, 126);
    font-family: "Freeman", sans-serif;
    text-align: center;
    margin-top: 2%;
}

.nombre{
    width: 92%;
    height: 5vh;
    border:none;
    border-radius: 4px;
    border-bottom: 2px grey solid;
    cursor: pointer;
}

.nombre:focus{
    outline: none;
}

.email{
    width: 92%;
    height: 5vh;
    border:none;
    border-radius: 4px;
    border-bottom: 2px grey solid;
    cursor: pointer;
}

.email:focus{
    outline: none;
}

.telefono{
    width: 92%;
    height: 5vh;
    border:none;
    border-radius: 4px;
    border-bottom: 2px grey solid;
    cursor: pointer;
    text-align: center;
}

.telefono:focus{
    outline: none;
}

.mensaje{
    width: 92%;
    height: 7vh;
    border:none;
    border-radius: 4px;
    border-bottom: 2px grey solid;
    cursor: pointer;
}

.mensaje:focus{
    outline: none;
}

.select{
    width: 40%;
    height: 5vh;
    text-align: center;
    margin-left: 4%;
    border: none;
    border-bottom: 2px grey solid;
    border-radius: 4px;
    font-family: "Freeman", sans-serif;
    font-size: 90%;
    color: rgb(58, 65, 65);
}

.boton-envio{
    height: 7vh;
    border: none;
    border-bottom: 2px grey solid;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 120%;
    font-family: "Freeman", sans-serif;
    color: rgb(92, 104, 104);
    cursor: pointer;
    
}

.fuente-footer{
    width: 100%; 
    color: white;
    font-family: "Freeman", sans-serif;
    text-align: center;
}



.footer-content ul li{
    list-style-type: none;
    text-decoration:none !important;

}




footer {
    background-color: rgb(8, 135, 170);
    width: 100%; 
    box-sizing: border-box; 
    color: white;
    text-align: center;
    padding-top: 10px;
    
}


.pie-pagina {
    background-color: rgb(8, 135, 170);
}

.pie-pagina .grupo-1 {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 1rem 0;
    color: white;
}

.pie-pagina .grupo-1 .mapa {
    width: 300px;
}

.pie-pagina .grupo-1 h2 {
    font-family: "Freeman", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

.pie-pagina .grupo-1 p {
    font-family: "Freeman", sans-serif;
    margin-bottom: .5rem;
    text-align: center;
}

.pie-pagina .grupo-1 h4 {
    font-family: "Freeman", sans-serif;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.redes-social {
    margin-top: .5rem;
}

.pie-pagina .grupo-1 .link-footer {
    display: block;
    padding-block: .5rem;
    text-align: right;
    transition: .5s ease;
}

.pie-pagina .grupo-1 .redes-social {
    text-align: right;
    font-size: 1.5rem;
}

.pie-pagina .grupo-1 .redes-social a {
    margin-top: .5rem;
    padding-inline: .5rem;
    transition: .5s ease;
}


.nombre-footer {
    font-family: "Freeman", sans-serif;
}


.iframe{
    width: 129%;
    height: 35vh;
    margin-left: -12%;
}

.grupo-1 {
    width: 90%;
}

.grupo-2 {
    padding-block: .5rem;
}


.validarNombre{
    font-family: "Freeman", sans-serif;
    font-size: 90%;
    color: rgb(29, 140, 237);
    display: none;
    text-align: center;
}

.validarEmail{
    font-family: "Freeman", sans-serif;
    font-size: 90%;
    color: rgb(29, 140, 237);
    display: none;
    text-align: center;
}

.validarTelefono{
    font-family: "Freeman", sans-serif;
    font-size: 90%;
    color: rgb(29, 140, 237);
    display: none;
    text-align: center;
}

.validarMensaje{
    font-family: "Freeman", sans-serif;
    font-size: 90%;
    color: rgb(29, 140, 237);
    display: none;
    text-align: center;
}

.validarFoto{
    font-family: "Freeman", sans-serif;
    font-size: 90%;
    color: rgb(29, 140, 237);
    margin: 1%;
    display: none;
    text-align: center;
}

.validarCheckbox{
    font-family: "Freeman", sans-serif;
    font-size: 90%;
    color: rgb(29, 140, 237);
    margin: 4%;
    margin-top: 0.5%;
    display: none;
    text-align: center;
}

.navegacion-celular{
    display: none;
}

.fondo-menu{
    display: none;
}

@media only screen and (max-width: 1024px){

    .descripcion-completa{
        justify-content: space-between;
    }

    .imagen-celulares{
        width: 44%;
        margin: 0;
        height: 44vh;
    }
    .imagen-menu{
        display: none;
    }

    .descripcion-nosotros{
        width: 54%;
        font-size: 147%;
    }

    .sobre-nosotros{
        height: 65vh;
    }

    .productos{
        height: 99vh;
    }
    
    .logo-facebook{
        width: 94%;
    }

    .logo-instagram{
        width: 94%;
    }

    .primer-producto-destacado{
        width: 30%;
        height: 70vh;
    }

    .segundo-producto-destacado{
        width: 30%;
        height: 70vh;
    }

    .tercer-producto-destacado{
        width: 30%;
        height: 70vh;
    }

    .iphone-doce{
        height: 50vh;
        min-width: 120%;
        margin-left: -8%;
    }

    .samsung{
        height: 50vh;
        min-width: 110%;
        margin-left: -8%;
    }

    .contacto{
        height: 134vh;
    }






    .iframe{
        height: 20vh;
        width: 110%;
        margin-left: -4%;
    }

}


@media only screen and (max-width: 768px){

    .navegacion{
        width: 70%;
        margin-left: 4%;
    }

    .header{
        flex-wrap: nowrap;
    }

    .logos{
        margin-left: 2.9%;
    }

    .frase{
        text-align: center;
    }

    .imagen-menu{
        display: none;
    }

    .imagen-celulares{
        width: 45%;
        margin: 0;
        margin-top: 5%;
    }

    .sobre-nosotros{
        height: 94vh;
    }

    .descripcion-completa{
        justify-content: space-between;
    }

    .descripcion-nosotros{
        font-size: 129%;
        max-height: 84vh;
        overflow:auto;
        width: 54%;
    }

    .productos{
        height: 105vh;
    }

    .primer-producto-destacado{
        width: 30%;
        height: 62vh;
    }

    .segundo-producto-destacado{
        width: 30%;
        height: 62vh;
    }

    .tercer-producto-destacado{
        width: 30%;
        height: 62vh;
    }

    .iphone-doce{
        max-height: 45vh;
        min-width: 110%;
        margin-left: -4%;
        
    }

    .samsung{
        max-height: 45vh;
        min-width: 110%;
        margin-left: -6%;
    }

    .iframe{
        width: 99%;
        height: 25vh;
        margin-left: 2.9%;
    }
    .contacto{
        height: 149vh;
    }
}






@media only screen and (max-width:320px){
    .header{
        width: 100%;
        justify-content: flex-start;
    }

    .logo{
        width: 90%;
        margin-left: -20%;
    }

    .imagen-menu{
        display: block;
        width: 20%;
        margin-left: -2%;
    }

    .logos{
        display: none;
    }

    .navegacion{
        display: none;
    }

    .titulo-nosotros{
        font-size: 190%;
    }
    .descripcion-completa{
        flex-direction: column;
        height: 110vh;
        justify-content: flex-start;
    }
    .descripcion-nosotros{
        width: 98%;
        text-align: center;
        font-size: 110%;
    }
    .imagen-celulares{
        width: 62%;
        align-content: center;
        margin-left: 20%;
        height: 30vh;
    }
    .sobre-nosotros{
        height: 130vh;
    }
    .productos{
        height: 229vh;
    }
    .titulo-productos{
        font-size: 220%;
    }
    .subtitulo-productos{
        font-size: 160%;
    }
    .destacados{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .primer-producto-destacado {
        width: 80%;
    }
    .segundo-producto-destacado{
        width: 80%;
        margin-top: 2%;
    }
    .tercer-producto-destacado{
        width: 80%;
        margin-top: 2%;
    }
    .contacto{
        height: 190vh;
        
    }
    .titulo{
        font-size: 160%;
    }
    .subtitulo-contacto{
        font-size: 129%;
    }
    .formulario{
        width: 90%;
        margin: 0;
        margin-left: 5%;
        margin-top: 9%;
        height: 140vh;
    }
    .nombre{
        width: 82%;
    }
    .email{
        width: 82%;
    }
    .telefono{
        width: 79%;
        margin-left: -4%;
    }
    .mensaje{
        width: 82%;
        margin-left: -2%;
    }

    .select{
        width: 60%;
        margin-left: -2%;
    }

    .imagen-campo{
        width: 80%;
    }


    .label-email{
        width: 90%;
        margin-left: 5.9%;
    }
    .label-nombre{
        width: 90%;
        margin-left: 5.9%;
    }
    .telefono-label{
        width: 90%;
        margin-left: 5.9%;
    }
    .mensaje-label{
        width: 92%;
        margin-left: 5.9%;
    }
    .label-checkbox{
        margin-top: 2%;
        width: 98%;
        padding: 4%;
        margin-left: 2%;
    }

.boton-envio{
    width: 90%;
    margin: auto;
}

.pie-pagina{
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin: 0px;
    
}

.label-select{
    margin-top: 9%;
}

.label-imagen{
    margin-top: 9%;
}

.label-nombre{
    margin-top: 4%;
}

.label-checkbox{
    margin-top: 4%;
}

#grupo-1{
    margin: 0;
    padding: 0;
    gap:0;
    justify-content: space-between;
    grid-template-columns: 50% 50%;
}
.iframe{
    margin-left: 4%;
}
.mapa{
    grid-column: 1/4;
}
#info{
    margin: 0;
    margin-left: 52%;
    margin-top: 9%;
    width: 120%;
}
#datos{
    display: none;
}

.validarNombre{
    margin-top: 2%;
}

.validarEmail{
    margin-top: 2%;
}

.validarTelefono{
    margin-top: 2%;
}
.item{
    margin: 4%;
    margin-top: 12%;
}
.validarMensaje{
    margin-top: 2%;
}

.validarFoto{
    margin-top: 2%;
}

.menu-barra{
    width: 70%;
    background-color: rgb(57, 136, 205);
    height: 190vh;
    z-index: 1;
    position: fixed;
    margin-left: 30%;
    display: none;
}
.fondo-menu{
    width: 30%;
    height: 190vh;
    position: fixed;
    background-color: rgb(50, 61, 61);
    opacity: 0.9;
    z-index: 1;
    display: none;
}
.navegacion-celular{
    position: fixed;
    width: 49%;
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    flex-wrap: wrap;
    font-size: 120%;
    z-index: 2;
    margin-top: 60%;
    display: none;
}
}